* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
}

.first {

    background-color: #070606d4;
    min-height: 100vh;
    padding-inline: 10px;

}
.second {
    margin-inline: auto;
    
}
.sections {
    width: 80%;
    margin-inline: auto;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.76);
    background-color: rgb(252, 248, 248);
}
.headers
{
    text-align: center !important;
    font-size: 1rem;
    padding-top: 1.6rem;
    font-weight: 800;
    
}
.firsters
{
    text-align: justify;
    font-size:1.1rem;
    padding: 0.5rem;
    font-weight: 500;
}

@media (max-width:867px) {
    .first {

        width: 90vw !important;
        min-height: 100vh;
        padding-inline: 0px;
    }

    .second {
        width:90vw !important;
        /* background-color: none; */
    }

}